    ul,
    li {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    
    a {
        text-decoration: none;
        color: #fff;
    }
    
     .carousel-slide {
        width: 810px;
        height: 325px;
        position: relative;
        overflow: hidden;
    }
    
    .carousel-slide .imgs {
        height: 325px;
        overflow: hidden;
        position: absolute;
        left: 0;
        top: 0;
    }
    
    .carousel-slide .imgs li {
        display: block;
        float: left;
        width: 810px;
        height: 325px;
    }
    
    .carousel-slide .imgs img {
        width: 810px;
        height: 325px;
    }
    
    
    .arrow {
        width: 30px;
        height: 30px;
        border-radius: 15px;
        display: block;
        background: #4e443c;
        opacity: 0.5;
        position: absolute;
        text-align: center;
        line-height: 30px;
    }
    
    .left {
        left: 8px;
        top: 50%;
        margin-top: -23px;
    }
    
    .right {
        right: 8px;
        top: 50%;
        margin-top: -23px;
    }
    
    .arrow:hover {
        opacity: 1;
    }
    
    .icons {
        overflow: hidden;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 10px;
    }
    
    .icons li {
        cursor: pointer;
        width: 20px;
        height: 4px;
        display: inline-block;
        background: #fff;
        border-radius: 3px;
    }
    
    .bg {
        background: #ccc !important;
    }
